{% load i18n static %}
<nav class="main-header navbar navbar-expand navbar-dark border-bottom-0"> <!--navbar-white navbar-light-->
  <!-- Left navbar links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" 
        href="#" role="button"><i class="fas fa-bars"></i></a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <a href="{% url 'index' %}" class="nav-link">{% trans 'Home' %}</a>
    </li>
    <!--
    <li class="nav-item d-none d-sm-inline-block">
      <a href="#" class="nav-link">Contact</a>
    </li>
    -->
  </ul>

  <!-- SEARCH FORM -->
  <!--TODO: make searchable-->
  <form class="form-inline mx-auto nav-search" action="{% url 'search' %}">
    <div class="input-group">
      <input class="form-control form-control-navbar" type="search" 
        placeholder="{% trans 'Search..' %}" 
        aria-label="{% trans 'Search' %}" name="q">
      <div class="input-group-append">
        <button class="btn btn-navbar" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </form>
</nav>
